<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="productionManagementAction"
		class="com.exhibition.production.action.ProductionManagementAction"
		scope="prototype">
		<property name="productionManagementService"
			ref="productionManagementService"></property>
	</bean>
	<bean id="productionManagementService"
		class="com.exhibition.production.service.impl.ProductionManagementServiceImpl">
		<property name="productionManagementDao" ref="productionManagementDao"></property>
	</bean>
	<bean id="productionManagementDao"
		class="com.exhibition.production.dao.impl.ProductionManagementDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

</beans>