<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="productionTypeManagementAction"
		class="com.exhibition.productiontype.action.ProductionTypeManagementAction"
		scope="prototype">
		<property name="productionTypeService"
			ref="productionTypeService"></property>
	</bean>
	<bean id="productionTypeService"
		class="com.exhibition.productiontype.service.impl.ProductionTypeServiceImpl">
		<property name="productionTypeDao" ref="productionTypeDao"></property>
	</bean>
	<bean id="productionTypeDao"
		class="com.exhibition.productiontype.dao.impl.ProductionTypeDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

</beans>